<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <center>
        <h3>Home</h3><br><br>
        {%if message == 'PasswordChangeSuccess'%}
            <p> Password Changed Successfully !</p>
        {%endif%}
        <form  action = "{% url 'account:logout' %}" method = 'post'> 
            {%csrf_token%}
            <input type = 'submit' value = 'logout'>
        </form><br>
        <form  action = "{% url 'account:reset_password' %}" method = 'post'> 
            {%csrf_token%}
            <input type = 'submit' value = 'Reset password'>
        </form> 
    </center>
</body>
</html>