<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/style.css' %}" >
    
</head>
<body>
    <center>
        <h3>Log In</h3>
        {%if flag == 'success'%}
            <p> Account created ! Please Log In </p>
        {%elif flag == 'faliure'%}
            <p> Wrong email or password</p>
        {%endif%}
        <form action = "{%url 'account:login'%}" method="post">
            {%csrf_token%}
            <label >Email</label><br>
            <input type = 'email' name = 'email'><br><br>
            <label>Password</label><br>
            <input type = 'password' name = 'password'><br><br>

            <input type = 'submit' value = 'Log In'><br><br>
        </form>
        <a href = "{% url 'account:signup' %}">Signup</a>
    </center>
</body>
</html>